<p id="notice"><%= notice %></p>
<h1>Showing Your Booking</h1>
<table>
	<thead>
		<tr>
		<td>
		 Booking ID
		</td>
		<td>
		Booked Date
		</td>
	</thead>
	<tbody>
		<tr>
			<td><%= @booking.id %></td>
	        <td><%= @booking.trip_date %></td>
	        
		</tr>

	</tbody>
</table>

